{% extends "base.html" %}
<!-- hello.html -->
{% block title %}Danielle's Writing Prompt Generator{% endblock %}

{% block body %}
<div class="row splash-page">
  <div class="medium-8 medium-right columns">
    <div class="panel">
    <style type="text/css">.splash-page .panel {
    text-align: center;
    background-color: rgba(242, 242, 242, 0.9);
}</style>
      <h1>Danielle's Writing Prompt Generator</h1>
      <!-- <h2></h2> -->
      <a class="button" href="/search">I am ready to write</a>
    </div>
  </div>
</div>
{% endblock %}

